<template>
  <div style="padding: 40px; text-align: center">
    <h1>欢迎使用 {{ project_name_cn }}</h1>
    <p style="color: #666; margin: 20px 0">基于 Spring Boot + Vue 3 的学生信息管理系统</p>
    <el-button type="primary" size="large" @click="$router.push('/students')">进入学生管理</el-button>
  </div>
</template>
